body {
    background-image: url("/public/img/burger-logo_1366-144.jpg");
}

ul {
  padding: 5px;
  margin: 5px;
  background: #ffff99;
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: #ffff99;
}

.form-group {
  margin-bottom: 5px;
}
